
{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
    <title>{% block title %}About Us{% endblock title %}</title>
</head>
{% block content %} 
    <section id="title0045">
        <div class="container">
            <div class="entry-title005-left">
                <h2>About Coching Center</h2> </div>
            <ol class="breadcrumb">
                <li><a href="{% url "home" %}">Home</a></li>
                <li><a href="{% url "about-us" %}">Library</a></li>
            </ol>
        </div>
    </section>
    <section id="aboutcoachingcenter002">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="deatils469">
                        <figure> <img src="{% static 'image/1495314857081.jpg' %}" alt=""> </figure>
                        <div class="deatils456-info">
                        <h3> Empowering Masses Through Quality Education</h3>
                        <p>HT Media Limited is India’s foremost media company and is the force behind three of the nation’s leading newspapers – Hindustan Times (English daily), Hindustan (Hindi daily) and Mint (Business daily). HT has a vision of empowering India’s youth through information, entertainment and education. In the area of Education it has taken several initiatives such as HT Pace – a newspaper for school children to encourage reading habit, HT Education – a weekly education supplement, HT Campus – an online platform for students looking for higher education options and HT Paathshala – program to facilitate education of under-privileged children.</p>
                        
                        </div>
                            <div class="deatils456-info">
                        <h3> Quality Delivery That Gives Your Child An Edge</h3>
                        <p>At Studymate, the child benefits from a comprehensive curriculum delivered by experienced and expert faculty through an interactive and blended teaching pedagogy. Studymate prides itself in having faculty of the highest caliber, as we believe they form the backbone of our learning center. We ensure that our faculty inherently displays values, which are synonymous with Studymate, namely – patience, approachability, confidence, result orientation and an unbiased attitude.
Our centers are equipped with best in class infrastructure with clean and well lit classrooms running on optimum batch size to ensure attention to the needs of each child. Within the classroom, learning is simplified by Technology-Aided Teaching as well as having study material and study notes collated by teachers who’ve demonstrated years of subject expertise.
Apart from support for pure academic excellence, we go the extra mile by providing a 48 hour board exam helpline. This interface addresses a student’s counseling and emotional needs, helps the student manage stress and clear last minute doubts as well. Our ‘Ask A Teacher’ 48 hour board exam helpline initiative last year received tremendous response and was applauded by the school principals as well as the CBSE.
Apart from academic support, we focus on overall development of the child through periodic sessions that are adequately sensitized and imbibe naturally the components of life skills, attitudes and values. As part of our offering we have partnered with Admissionz Campuz to provide our students career guidance and college admission assistance. Through this initiative our endeavour is, to equip the child in staying ahead in life.
The recent CBSE board exams are strong endorsement for Studymate. Our students did extremely well across classes. Not only did a large proportion achieve above 90%, but a significant number of students registered a substantial improvement in their results.
The encouraging feedback received from both parents and students have further strengthened our belief that it was a step taken in the right direction. In the coming years we further plan to build on our learning from the initial years and grow exponentially with a single minded vision to impart high quality coaching to our students.</p>
                        
                        </div>
                            <div class="deatils456-info">
                        <h3> Empowering Masses Through Quality Education</h3>
                        <p>HT Media Limited is India’s foremost media company and is the force behind three of the nation’s leading newspapers – Hindustan Times (English daily), Hindustan (Hindi daily) and Mint (Business daily). HT has a vision of empowering India’s youth through information, entertainment and education. In the area of Education it has taken several initiatives such as HT Pace – a newspaper for school children to encourage reading habit, HT Education – a weekly education supplement, HT Campus – an online platform for students looking for higher education options and HT Paathshala – program to facilitate education of under-privileged children.</p>
                        
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                <div class="registration-form5y785">
                    <figure>
                    <button type="button" class="reg-button6547">Registration Form</button>
                        <p>Book your Free Demo</p>
                    <div class="full-form0056 animated fadeInRight">
                      <form>
                          <div class="name_form84775">
                        <input type="text" class="name98" placeholder="First Name">
                          </div>
                          <div class="last-nmae00887">
                        <input type="text" class="lname178" placeholder="Last Name">
                          </div>
                           <div class="email_form84875">
                        <input type="text" class="email198" placeholder="Enter your Email">
                          </div>
                           <div class="mobile4878">
                        <input type="text" class="mobilenum73" placeholder="Mobile Number">
                          </div>
                        
                          <button type="button" class="submit-button6547">Submit</button>
                        </form>
                    </figure>
                    
                    </div>
                
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}
    