{% extends "base.html" %}
{% load static %}

<head>
    
    <title>{% block title %}FAQ{% endblock title %}</title>
</head>

<body>
    {% block content %}
    <section id="title0045">
        <div class="container">
            <div class="entry-title005-left">
                <h2>Your FAQ</h2> </div>
            <ol class="breadcrumb">
                <li><a href="{% url "home" %}">Home</a></li>
                <li><a href="{% url "FAQ" %}">FAQ</a></li>
            </ol>
        </div>
    </section>
    <section id="FAQgcenter002">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="faq-details357">
                    <div class="wrapper">
  <div class="half">
    <h2>Student <strong>FAQs </strong></h2>
    <div class="tab">
      <label for="tab-one">1. I am willing to join Studymate but I can’t come on weekdays. What should I do?</label>
      <div class="tab-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
      </div>
    </div>
    <div class="tab">
      <label for="tab-two">2. What if I want to attend classes in other tuition centers as well along with Studymate?</label>
      <div class="tab-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
      </div>
    </div>
    <div class="tab">
      <label for="tab-three">3. How is Studymate better than Home Tuition?</label>
      <div class="tab-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
      </div>
    </div>
       <div class="tab">
      <label for="tab-four">4. Which classes does Studymate teach and which board?</label>
      <div class="tab-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
      </div>
    </div>
       <div class="tab">
      <label for="tab-five">5. How will Studymate help clear my doubts other than the regular classes?</label>
      <div class="tab-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
      </div>
    </div>
          <div class="tab">
      <label for="tab-six">6. Will I have to get my own books to the center?</label>
      <div class="tab-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
      </div>
    </div>
  </div>

</div>
                    
                    </div>
            
                </div>
                <div class="col-md-4">
                <div class="registration-form5y785">
                    <figure>
                    <button type="button" class="reg-button6547">Registration Form</button>
                        <p>Book your Free Demo</p>
                    <div class="full-form0056 animated fadeInRight">
                      <form>
                          <div class="name_form84775">
                        <input type="text" class="name98" placeholder="First Name">
                          </div>
                          <div class="last-nmae00887">
                        <input type="text" class="lname178" placeholder="Last Name">
                          </div>
                           <div class="email_form84875">
                        <input type="text" class="email198" placeholder="Enter your Email">
                          </div>
                           <div class="mobile4878">
                        <input type="text" class="mobilenum73" placeholder="Mobile Number">
                          </div>
                        
                          <button type="button" class="submit-button6547">Submit</button>
                        </form>
                        
                        </div>    
                    
                    </figure>
                    
                    </div>
                
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}
    