{% extends "base.html" %}
{% load static %}

<head>
    
    <title>{% block title %}Other Courses{% endblock title %}</title>
</head>

<body>
    {% block content %}
    <section id="title0045">
        <div class="container">
            <div class="entry-title005-left">
                <h2>Other Course</h2> </div>
            <ol class="breadcrumb">
                <li><a href="{% url "home" %}">Home</a></li>
                <li><a href="{% url "other-course" %}">Other course</a></li>
            </ol>
        </div>
    </section>
    <section id="Coursepart0057">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="detailscor0048">
                    <h1>IELTS (International English Language Testing System)</h1>
                        <p>Taking IELTS opens doors – it can help you live, study and work around the world. More than 10,000 organisations in 140 countries accept IELTS, including schools, universities, employers, immigration authorities and professional bodies</p>
                        <br>
                        <p>IELTS assesses all of your English skills — reading, writing, listening and speaking, and is designed to reflect how you will use English at study, at work, and at play, in your new life abroad.</p>
                        <br>
<!--  point one-->
        <p><strong><h5>1. Recorded Lectures</h5></strong> – Each chapter is explained in an interesting manner through short and engaging videos to facilitate better learning through visual medium. Each video covers a sub-topic of the chapter and is about 7-8 minutes. The videos are easy paced and help to revise or study a chapter being taught in school before it is covered in our centers.</p>
                        <br>
                        <!--  point two-->
                        <p><strong><h5>2. E-Books </h5></strong> – The books provided by StudyMate are made available for easy reference. Students can make notes on the book and save them for future reference.</p>
                        <br>
                        <!--  point three-->
                        <p><strong><h5>3. Online Assignments</h5></strong> – At StudyMate, you are provided with multiple assignments for each chapter. All these can now also be accessed online for revision and practice.</p>
                        <br>
                        <!--  point four-->
                        <p><strong><h5>4. Assessment MCQ </h5></strong> –  Small chapter end MCQ tests are available which will test the conceptual understanding of the chapter.</p>
                        <br>
                        <!--  point five-->
                        <p><strong><h5>5. Diagnostic Unit Assessment (DUA) & Report</h5></strong> – A tool co-developed by a leading Japanese academic research company & a leading Higher Education Institution of India. This tool helps the child know their strengths and weaknesses in each “Unit of Chapters” of Mathematics & Science.</p>
                        <br>
                        <!--  point six-->
                        <p><strong><h5>6. Online Revision & Doubt Clearing for Mathematics & Science </h5></strong> –  Revision & Doubts for each chapter are done twice a month through a live online class accessed from home through the web based learning portal. These sessions are recorded to be viewed later, if needed.</p>
                        <br>
                        <div class="coursr-stracture9753">
                            <p>Download your Course Outline</p>
        <!--  button one-->
                            <figure>
                            <a href="pdf/ssc-equivalent-exam-subject-wise-marks-distribution-at-a-glance-activate-from-2017-ssc-exam.pdf" download><button type="button" class="course473-button">Class VI</button></a>
                            </figure>
                            <!--  button two-->
                             <figure>
                            <a href="pdf/ssc-equivalent-exam-subject-wise-marks-distribution-at-a-glance-activate-from-2017-ssc-exam.pdf" download><button type="button" class="course473-button">Class VII</button></a>
                            </figure>
                            <!--  button three-->
                             <figure>
                            <a href="pdf/ssc-equivalent-exam-subject-wise-marks-distribution-at-a-glance-activate-from-2017-ssc-exam.pdf" download><button type="button" class="course473-button">Class VIII</button></a>
                            </figure>
                            <!--  button four-->
                             <figure>
                            <a href="pdf/ssc-equivalent-exam-subject-wise-marks-distribution-at-a-glance-activate-from-2017-ssc-exam.pdf" download><button type="button" class="course473-button">Class IX-X</button></a>
                            </figure>
                           
                        
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                <div class="registration-form5y785">
                    <figure>
                    <button type="button" class="reg-button6547">Registration Form</button>
                        <p>Book your Free Demo</p>
                    <div class="full-form0056 animated fadeInRight">
                      <form>
                          <div class="name_form84775">
                        <input type="text" class="name98" placeholder="First Name">
                          </div>
                          <div class="last-nmae00887">
                        <input type="text" class="lname178" placeholder="Last Name">
                          </div>
                           <div class="email_form84875">
                        <input type="text" class="email198" placeholder="Enter your Email">
                          </div>
                           <div class="mobile4878">
                        <input type="text" class="mobilenum73" placeholder="Mobile Number">
                          </div>
                        
                          <button type="button" class="submit-button6547">Submit</button>
                        </form>
                        
                        </div>    
                    
                    </figure>
                    
                    </div>
                
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}
    