{% extends "base.html" %}
{% load static %}

<head>
    
    <title>{% block title %}Our Team{% endblock title %}</title>
</head>

<body>
    {% block content %}
    <section id="title0045">
        <div class="container">
            <div class="entry-title005-left">
                <h2>Our Team</h2> </div>
            <ol class="breadcrumb">
                <li><a href="{% url "home" %}">Home</a></li>
                <li><a href="{% url "our-team" %}">Our Team</a></li>
            </ol>
        </div>
    </section>
    <section id="aboutcoachingcenter002">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
<!--faculty one -->
                    <div class="faculty757">
                        <div class="faculty-image858">
                        <figure>
                            <img src="image/tea%201.jpg" alt="">
                            
                            </figure>
                        </div>
                    <div class="facultu-inf0773">
                        <h3>Wynona James</h3>
                        <h5>DEAN (STUDENT SERVICES AND PARENT ENGAGEMENT) & HOD - MATHS (XI-XII)</h5>
                        
                        
                        </div>
                          <div class="facultu-bio348">
                <p>Wynona James teaches across centres for classes XI-XII. He has been responsible forhelping build the Mathematics department from inception. He is also the centre principal for Mayur Vihar & Preet Vihar Centers. He has vast teaching experience of more than 18 years and has been associated with schools like St Paul’s and Amity International in the past. Qualifications: CAIIB(I), B.Sc, M.Sc.</p>
                        
                        
                        </div>
                    
                    </div>
                    <!--faculty two -->
                       <div class="faculty757">
                        <div class="faculty-image858">
                        <figure>
                            <img src="image/tea%202.jpg" alt="">
                            
                            </figure>
                        </div>
                    <div class="facultu-inf0773">
                        <h3>Edna Francis</h3>
                        <h5>DEAN (TEACHER RECRUITMENT & TRAINING) & HOD (ECONOMICS)</h5>
                        
                        
                        </div>
                          <div class="facultu-bio348">
                <p>Edna Francis teaches across centres for classes XI-XII. He has been responsible forhelping build the Mathematics department from inception. He is also the centre principal for Mayur Vihar & Preet Vihar Centers. He has vast teaching experience of more than 18 years and has been associated with schools like St Paul’s and Amity International in the past. Qualifications: CAIIB(I), B.Sc, M.Sc.</p>
                        
                        
                        </div>
                    
                    </div>
                    <!--faculty three -->
                       <div class="faculty757">
                        <div class="faculty-image858">
                        <figure>
                            <img src="image/tea.jpg" alt="">
                            
                            </figure>
                        </div>
                    <div class="facultu-inf0773">
                        <h3>Lida Gray Gibbs</h3>
                        <h5>PROGRAM HEAD – SECONDARY CLASS & HOD - MATHS (VIII-X)</h5>
                        
                        
                        </div>
                          <div class="facultu-bio348">
                <p>Lida Gray Gibbs teaches across centres for classes XI-XII. He has been responsible forhelping build the Mathematics department from inception. He is also the centre principal for Mayur Vihar & Preet Vihar Centers. He has vast teaching experience of more than 18 years and has been associated with schools like St Paul’s and Amity International in the past. Qualifications: CAIIB(I), B.Sc, M.Sc.</p>
                        
                        
                        </div>
                    
                    </div>
                    <!--faculty four -->
                       <div class="faculty757">
                        <div class="faculty-image858">
                        <figure>
                            <img src="image/tea4.jpg" alt="">
                            
                            </figure>
                        </div>
                    <div class="facultu-inf0773">
                        <h3>Irene Ball</h3>
                        <h5>HOD (ACCOUNTANCY & BUSINESS STUDIES)</h5>
                        
                        
                        </div>
                          <div class="facultu-bio348">
                <p>Irene Ball teaches across centres for classes XI-XII. He has been responsible forhelping build the Mathematics department from inception. He is also the centre principal for Mayur Vihar & Preet Vihar Centers. He has vast teaching experience of more than 18 years and has been associated with schools like St Paul’s and Amity International in the past. Qualifications: CAIIB(I), B.Sc, M.Sc.</p>
                        
                        
                        </div>
                    
                    </div>
                    <!--faculty five -->
                    
                         <div class="faculty757">
                        <div class="faculty-image858">
                        <figure>
                            <img src="image/tea%205.jpg" alt="">
                            
                            </figure>
                        </div>
                    <div class="facultu-inf0773">
                        <h3>Doris Stuart</h3>
                        <h5>HOD (ENGLISH)</h5>
                        
                        
                        </div>
                          <div class="facultu-bio348">
                <p>Doris Stuart teaches across centres for classes XI-XII. He has been responsible forhelping build the Mathematics department from inception. He is also the centre principal for Mayur Vihar & Preet Vihar Centers. He has vast teaching experience of more than 18 years and has been associated with schools like St Paul’s and Amity International in the past. Qualifications: CAIIB(I), B.Sc, M.Sc.</p>
                        
                        
                        </div>
                    
                    </div>
                    
                    
                    <!--faculty six -->
                    
                         <div class="faculty757">
                        <div class="faculty-image858">
                        <figure>
                            <img src="image/tea7.jpg" alt="">
                            
                            </figure>
                        </div>
                    <div class="facultu-inf0773">
                        <h3>Katheryn Bierly</h3>
                        <h5>HOD (PHYSICS)</h5>
                        
                        
                        </div>
                          <div class="facultu-bio348">
                <p>Katheryn Bierly teaches across centres for classes XI-XII. He has been responsible forhelping build the Mathematics department from inception. He is also the centre principal for Mayur Vihar & Preet Vihar Centers. He has vast teaching experience of more than 18 years and has been associated with schools like St Paul’s and Amity International in the past. Qualifications: CAIIB(I), B.Sc, M.Sc.</p>
                        
                        
                        </div>
                    
                    </div>
                    
                    <!--faculty seven -->
                    
                         <div class="faculty757">
                        <div class="faculty-image858">
                        <figure>
                            <img src="image/tea6.jpg" alt="">
                            
                            </figure>
                        </div>
                    <div class="facultu-inf0773">
                        <h3>Elizabeth Sherwood</h3>
                        <h5>HOD (SOCIAL STUDIES)</h5>
                        
                        
                        </div>
                          <div class="facultu-bio348">
                <p>Elizabeth Sherwood teaches across centres for classes XI-XII. He has been responsible forhelping build the Mathematics department from inception. He is also the centre principal for Mayur Vihar & Preet Vihar Centers. He has vast teaching experience of more than 18 years and has been associated with schools like St Paul’s and Amity International in the past. Qualifications: CAIIB(I), B.Sc, M.Sc.</p>
                        
                        
                        </div>
                    
                    </div>
                    
<!-- end of faculty -->
                    
                    
                    
                    
                    
         
                </div>
                <div class="col-md-4">
                <div class="registration-form5y785">
                    <figure>
                    <button type="button" class="reg-button6547">Registration Form</button>
                         <p>Book your Free Demo</p>
                    <div class="full-form0056 animated fadeInRight">
                      <form>
                          <div class="name_form84775">
                        <input type="text" class="name98" placeholder="First Name">
                          </div>
                          <div class="last-nmae00887">
                        <input type="text" class="lname178" placeholder="Last Name">
                          </div>
                           <div class="email_form84875">
                        <input type="text" class="email198" placeholder="Enter your Email">
                          </div>
                           <div class="mobile4878">
                        <input type="text" class="mobilenum73" placeholder="Mobile Number">
                          </div>
                        
                          <button type="button" class="submit-button6547">Submit</button>
                        </form>
                    </figure>
                    
                    </div>
                
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    